.THIS #leftdiv
{
    
    float:left;
}

.THIS #rightdiv
{
    
    float:right;
}
.THIS #Gold
{
    background-color:#D4AF37;
}
.THIS #Green
{
    background-color:#08ac5f;
}
.THIS #Blue
{
    background-color:#1978e4;
}