// Global colors
$lightColor: RGB(248, 248, 248);
$lightMedColor: #f0f0f0;
$medColor: #dbdbdb;
//$medDarkColor: #d1d1d1;
$darkColor: #494b4b;

// One-off colors
$redColor: #C90035;
$redDarkColor: #A5022D;

$blueColor: #3e7aa2;
$blueDarkColor: #00395d;
//$blueLightColor: #bedbeb;
$blueLightColor: #d5e8f3;
$blueLighterColor: #edf4f8;

$lightGrayBlueColor: #eef2f4;

$pageTextColor: #444444;

// Transition
$trans: .25s all ease-in-out;

// Shadow
$shadow: 0px 1px 1px rgba(70, 70, 70, 0.25);
$shadowHighlight: 0 2px 2px rgba(70, 70, 70, 0.3);

$strongShadow: 2px 2px 2px rgba(70, 70, 70, 0.4);
