.THIS .tileValue, .THIS .tileLabel, .THIS .tileValue a {
    color: rgb(153, 153, 153) !important;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.2em;
    white-space: nowrap;
    max-width: 200px;
}
.THIS .slds-dropdown__item a {
    font-size: 13px;
    color: black;
}
.THIS .tileLabel {
    font-weight:bold;
}
.THIS .card {
    position: relative;
    display:inline-block; 
    width:340px; 
    border: 1px solid rgb(153, 153, 153); 
    margin: 0px 15px 40px 15px;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}
.THIS .card:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.THIS br {
    display: block;
    content: "";
    height: 7px;
}
.THIS .pencil-icon {
    width: 18px;
    right: 0px;
    margin: 7px;
    position: absolute;
    cursor: pointer;
}
.THIS .pu-reset{
    display: none;
}
.THIS .tileValue:hover .pu-info {
    display: none;
 }
.THIS .tileValue:hover .pu-reset {
    display: block;
 }
 /*.THIS .slds-radio_button {
     color: white !important;
 }
 
 .THIS .slds-radio_button__label {
    background-color: rgb(50, 128, 203) !important;
 }
 .THIS .slds-radio_button [type="radio"]:checked + .slds-radio_button__label {
    background-color: white !important;
    color: rgb(50, 128, 203) !important;
 }*/

 .THIS .form-element__label {
    display : none;
    visibility : hidden;
}
.THIS .uiInputText {
  margin-right: 10px;
}
.THIS .front.slds-button:focus, .THIS .front.slds-button_neutral:active {
  box-shadow: none;
  background-color:transparent;
}
.THIS .slds-button.front {
  padding-right: 5px;
  padding-left: 12px;
}
.THIS .slds-form-element__legend{
  margin-top: -3px;
}
.THIS .filter.slds-input-has-icon{
  margin-left: 15px;
}